*{
    margin: 0;
    box-sizing: border-box;
}


body{
    
    background-color: hsl(240, 78%, 98%);"
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;

}
main{
    padding: 20px;
}
#img-top{
    background-image: url(images/bg-top.svg);
    height: 658px;
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;

}


#img-bottom{
    background-image: url(images/bg-top.svg);
    height: 300px;
    width: 353px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;

}



.card-1{
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-shadow: 3px 3px 14px 0px rgba(80, 78, 78, 0.49);
-moz-box-shadow: 3px 3px 14px 0px rgba(80, 78, 78, 0.49);
box-shadow:3px 3px 14px 0px rgba(80, 78, 78, 0.49);
    
    
    
}
#main-title{
        color:  hsl(232, 13%, 33%); 

}
.option{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.timeStamp{
    
    margin: auto;

}
.title{
    font-size: 22px;
    color:hsl(233, 13%, 49%);
}

h5{
    font-size: 35px;
    margin-top: 10px;
    
}
p,h4{
    color:  hsl(234, 14%, 74%); 
}
h1{
    font-size: 50px;
    font-weight: bolder;
}




.card-0{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.card-professional{
    background-color: hsl(237, 63%, 64%);
    color: white;
    width: 380px;
    height: 550px;   

}
.card-professional p{
    color: white;
}
.line1{
    border-top: 1px Solid white;
    height:20px;
    width: 250px;
    text-align: center;
    margin: auto;
    

}


.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.line{
    border-top: 1px Solid grey;
    height:20px;
    width: 250px;
    text-align: center;
    margin: auto;
}

.more{
    border: 1px solid grey;
    padding: 12px;
    width: 170px;
    margin: auto;
    background-color:  hsl(236, 72%, 79%);
    color: white;
}

h2,h3{
    text-align: center;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.switch {
  position: relative;
  display: block;
  margin: auto;
  width: 60px;
  height: 34px;

}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: blue;
  -webkit-transition: .4s;
  transition: .4s;
}

.title{
    padding-top: 20px;
}


@media only and screen(max-width: 750px){
    .card-1{
        display: inline-block;
        padding: 10px;
        margin-top: 30px;
        
    }
    
    
    @media only and screen(max-width: 550px){
        
        .card-1{
            padding: 20px;
            margin-top: 30px;
            
        }

        
        .card-0{
            flex-wrap: nowrap;
        }
    }
        
 @media only and screen(max-width: 650px){
       
             .card-1{
            padding-top: 20px;
        margin-top: 30px;
        }

     .card-0{
            flex-wrap: nowrap;
        }

     
            
}
    @media only and screen(max-width: 468px){
        
        .card-1{
            padding-top: 20px;
            margin-top: 30px;
        }
        .card-professional{
            padding-top: 20px;
        }

        
        .card-0{
            flex-wrap: nowrap;
        }

  
    }